<div id="largemap"></div>
<script type="text/javascript">
	//<![CDATA[
	// The Google Map
	$(document).ready(function(){

		    var infowindow = new google.maps.InfoWindow();  
		    
		   
		    // Set the map styles
		    var styles = [
			  {
			    "stylers": [
			      { "gamma": 1.61 },
			      {% if color == 'black' or color == 'grey' %}
			      { "saturation": -100 },
			      {% endif %}
			      {% if color == '#ff6e00' %}
			      { "saturation": -64 },
			      {% endif %}
			      {% if color == 'black' %}
			      { "invert_lightness": true },
			      {% endif %}
			      { "lightness": -7 },
			      { "hue": "{{ color }}" }
			    ]
			  }
			];
		      
			// Set the options to be used when creating the map
			var myOptions = {
				zoom: 0,
				center: new google.maps.LatLng({{ lat }}, {{ lon }}),
				mapTypeId: google.maps.MapTypeId.ROADMAP
			};
			
			var mapL = new google.maps.Map(document.getElementById("largemap"),myOptions);
			
			// Create a new latlng based on the latitude and longitude from the user's position
			var user_lat_long = new google.maps.LatLng({{ lat }},{{ lon }});
			
			var locations = [
			   ['{{ address|replace({"'":"\'"}) }}','{{ lat }}','{{ lon }}',1]
			];
			
			for (var i = 0; i < locations.length; i++) {
			    var location = locations[i];
			    var myLatLng = new google.maps.LatLng(location[1], location[2]);
			    var marker = new google.maps.Marker({
			        position: myLatLng,
			        map: mapL,
			        title: location[0],
			        zIndex: location[3]
			    });
			    
			    google.maps.event.addListener(marker, 'click', (function(marker, i) {
			        return function() {
			          infowindow.setContent('<h4>'+locations[i][0]+'</h4><a href="http://maps.google.com/maps?daddr='+location[1]+','+location[2]+'" target="_blank" style="color: black!important;">Get Directions</a>');
			          infowindow.open(mapL, marker);
			        }
			      })(marker, i));
			      
		    };
			
			mapL.setOptions({styles: styles});
			mapL.setCenter(user_lat_long);
			mapL.setZoom(12);

	});
	//]]>
</script>

